---
import Layout from "../layouts/Layout.astro";
import htmlFields from "../data/htmlFields.json";
---

<Layout title="Rekord BETA">
	<main class="mx-auto max-w-3xl bg-white p-8 text-black">
		<form id="mainForm" class="space-y-8">
			<header class="pb-4">
				<div class="flex gap-2">
					<h1 class="text-4xl font-bold tracking-tight">Rekord</h1>
					<span class="text-blue-700">WIP</span>
				</div>
				<p class="mt-2 text-sm text-gray-700">
					Batch fill your SF10 forms in one click. Just download the template,
					fill it out with your students' info, and upload it back here to get a
					zip file of ready-to-print PDFs.
				</p>
			</header>

			<div class="space-y-2">
				<p class="font-bold">1. Download Template</p>
				<select
					id="template-select"
					class="w-full cursor-pointer border border-black bg-white px-3 py-2 text-sm focus:border-blue-600 focus:ring-1 focus:ring-blue-600 focus:outline-none"
				>
					<option value="" disabled selected>Select an option...</option>
					<option value="templates/Rekord Template - Grade 4.xlsx"
						>Grade 4</option
					>
				</select>
			</div>

			<div class="space-y-2">
				<p class="font-bold">2. Upload CSV</p>
				<input
					type="file"
					id="file"
					name="file"
					accept=".csv"
					class="w-full cursor-pointer border border-black bg-white text-sm file:mr-4 file:border-0 file:border-r file:border-black file:px-4 file:py-2 file:text-sm file:font-bold hover:file:text-blue-700"
					required
				/>
			</div>

			<div class="space-y-2">
				<h2 class="font-bold">3. Define School and Class Info</h2>
				<div class="space-y-4">
					<div class="flex flex-col">
						<label
							for="classified_as_grade"
							class="mb-1 text-sm font-medium text-gray-700"
						>
							Classified as Grade:
						</label>
						<select
							id="classified_as_grade"
							name="classified_as_grade"
							class="w-full cursor-pointer border border-black bg-white px-3 py-2 text-sm focus:border-blue-600 focus:ring-1 focus:ring-blue-600 focus:outline-none"
							required
						>
							<option value="" disabled selected>Select an option...</option>
							<option value="4">Grade 4</option>
						</select>
					</div>
					{
						htmlFields.map(
							(field) =>
								field.name !== "classified_as_grade" && (
									<div class="flex flex-col">
										<label
											for={`input${field.name}`}
											class="mb-1 text-sm font-medium text-gray-700"
										>
											{field.label}:
										</label>
										<input
											id={`input${field.name}`}
											name={`input${field.name}`}
											type="text"
											class="grow border border-black px-2 py-2 text-sm focus:border-blue-600 focus:ring-1 focus:ring-blue-600 focus:outline-none"
										/>
									</div>
								),
						)
					}
				</div>
			</div>

			<div class="space-y-2 opacity-50">
				<h2 class="font-bold">4. Define Passing Criteria</h2>
				<div class="flex flex-wrap space-y-4">
					<p class="text-sm text-gray-700">
						Mark a learning area as <strong>"Passed"</strong> if the student's grade
						is greater than or equal to
						<input
							type="text"
							id="criteria1"
							name="criteria1"
							value="75"
							class="w-10 border-b border-gray-700 px-2 py-px text-sm font-bold focus:border-b-2 focus:border-blue-600 focus:outline-none"
							disabled
						/>. Otherwise, mark as <strong>"Failed"</strong>.
					</p>

					<p class="text-sm text-gray-700">
						Promote a student if his/her grade is greater than or equal to
						<input
							type="text"
							id="criteria1"
							name="criteria1"
							value="75"
							class="w-10 border-b border-gray-700 px-2 py-px text-sm font-bold focus:border-b-2 focus:border-blue-600 focus:outline-none"
							disabled
						/>. Otherwise, mark as <strong>"Retained"</strong>.
					</p>
				</div>
			</div>

			<div class="space-y-2">
				<h2 class="font-bold">5. Flatten?</h2>
				<p class="text-sm text-gray-700">
					By default, the generated PDFs will be editable. If you want to make
					them non-editable, check the "Flatten PDFs" option. This will merge
					the form fields with the PDF content, preventing any further changes.
				</p>
				<a href="https://github.com/jrwnnnn/rekord/issues/6" target="_blank">
					<p
						class="cursor-pointer border border-dashed border-red-600 px-3 py-2 text-sm text-red-600 hover:bg-red-50"
					>
						⚠ There is a known issue where flattening may cause issues with
						Adobe Acrobat.
					</p>
				</a>

				<div class="mt-5 flex items-center gap-2">
					<input
						type="checkbox"
						id="flatten"
						name="flatten"
						class="h-4 w-4 cursor-pointer border-gray-300 text-blue-600 focus:ring-blue-500"
					/>
					<label for="flatten" class="text-sm">Flatten PDFs</label>
				</div>
			</div>

			<div
				id="progress-banner"
				class="hidden gap-5 border-3 border-gray-700 p-3"
			>
				<img
					src="https://i.pinimg.com/originals/88/71/4a/88714a27c1a6c90148b5793a4b8ad8cb.gif"
					class="h-20 w-20"
				/>
				<div>
					<h1 class="line-clamp-2 font-bold">Processing...</h1>
					<p class="text-sm text-gray-700">
						Feel free to keep working while we generate the files in the
						background.
					</p>
				</div>
			</div>

			<button
				type="submit"
				id="submitBtn"
				class="mt-4 w-full cursor-pointer bg-blue-600 px-8 py-2 text-sm font-bold text-white hover:bg-blue-700"
			>
				Process
			</button>
		</form>

		<footer class="mt-12 pt-4 text-xs text-gray-600">
			<p>
				&copy; {new Date().getFullYear()} Mark Jerwin.
				<a
					href="https://github.com/jrwnnnn/rekord"
					target="_blank"
					class="text-blue-600 underline hover:text-blue-800"
				>
					Source
				</a>
			</p>
		</footer>
	</main>
</Layout>

<script src="@utils/downloadTemplate.ts"></script>
<script>
	import { populateFields } from "@lib/populateFields";
	import { validate } from "@lib/validateCSV";
	import { PDFDocument } from "pdf-lib";
	import { updateProgressBanner } from "@utils/progressBanner";
	import { saveAs } from "file-saver";
	import fontkit from "@pdf-lib/fontkit";
	import htmlFields from "../data/htmlFields.json";
	import JSZip from "jszip";
	import Papa from "papaparse";

	const htmlForm = document.getElementById("mainForm") as HTMLFormElement;

	htmlForm.addEventListener("submit", async (e) => {
		e.preventDefault();

		const csvFile = (htmlForm.file as HTMLInputElement).files?.[0];
		const flatten = (htmlForm.flatten as HTMLInputElement).checked;
		const classInfo = Object.fromEntries(
			htmlFields.map((field: { name: string }) => [
				field.name,
				field.name === "classified_as_grade"
					? (htmlForm.classified_as_grade as HTMLSelectElement).value
					: (htmlForm[`input${field.name}`] as HTMLInputElement).value,
			]),
		);

		if (!csvFile) return;

		console.log("Parsing CSV file...");
		updateProgressBanner("Parsing CSV file...");
		if (!(await validate(csvFile))) return;

		// Load the PDF template and fonts
		const template = await fetch("/acroforms/es.pdf").then((r) =>
			r.arrayBuffer(),
		);
		const [arialBoldBytes, arialNarrowBoldBytes] = await Promise.all([
			fetch("/fonts/Arial-Bold.ttf").then((r) => r.arrayBuffer()),
			fetch("/fonts/Arial-Narrow-Bold.ttf").then((r) => r.arrayBuffer()),
		]);

		Papa.parse(csvFile, {
			header: true,
			comments: "#",
			skipEmptyLines: "greedy",
			encoding: "ISO-8859-1",
			complete: async (results) => {
				const rows = results.data as Record<string, string>[];
				console.log(`Parsed ${rows.length} rows. Generating PDFs...`);
				updateProgressBanner(`Parsed ${rows.length} rows. Generating PDFs...`);
				const zip = new JSZip();

				for (const row of rows) {
					if (!row["info.lrn"]) {
						console.warn(`Skipped row ${rows.indexOf(row) + 1} with missing LRN`);
						continue;
					}

					// Load the PDF template and register fontkit
					const pdfDoc = await PDFDocument.load(template).then((doc) => {
						doc.registerFontkit(fontkit);
						return doc;
					});
					// Embed the fonts
					const fonts = {
						arialBold: await pdfDoc.embedFont(arialBoldBytes),
						arialNarrowBold: await pdfDoc.embedFont(arialNarrowBoldBytes),
					};
					const acroform = pdfDoc.getForm();

					updateProgressBanner(
						`Creating SF10 for ${row["info.last_name"]}, ${row["info.first_name"]}...`,
					);

					populateFields(acroform, fonts, classInfo, row);

					if (flatten) {
						acroform.flatten();
					}

					const fileName =
						`${row["info.last_name"]}_${row["info.first_name"]}.pdf`.replace(
							/\s+/g,
							"_",
						);

					zip.file(fileName, await pdfDoc.save());
				}

				console.log("Generating ZIP file...");
				updateProgressBanner("Generating ZIP file...");

				const content = await zip.generateAsync({ type: "blob" });
				saveAs(content, "SF10_Batch_Export.zip");

				console.log("Done.");
				updateProgressBanner(
					"Done.",
					"Your download should automatically start now. If it doesn't, click the button below to download manually.",
					"https://media.tenor.com/GWewIVSoJBcAAAAM/yippee.gif",
				);
			},
		});
	});
</script>
