---
import "../styles/global.css";

const {
	title,
	description = "Hello! It's Jerwin! I'm a student based in Manila, PH. I build things for the web. My code is held together by duct tape and prayers. I spend more time customizing my VS Code theme than actually coding. If you see a bug, no you didn't.",
	robots = "index, follow",
	ogType = "website",
	image = "https://sf10.vercel.app/meta/meta-image.jpg"
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site).href} />

		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="robots" content={robots} />

		<meta property="og:type" content={ogType} />
		<meta property="og:url" content={new URL(Astro.url.pathname, Astro.site).href} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />

		<meta name="twitter:card" content="summary_large_image" />

		<meta name="theme-color" content="#000000" />
		<link rel="icon" type="image/png" href="/favicon.png" />
	</head>
	<body>
		<slot />
	</body>
</html>
